<!-- <div *ngIf="candidatoInfo" class="candidato-card"></div> Simplemente hace desaparecer el problema y acepta valores o maneja un objeto undefined--> 

<div class="card"> 
    <div class="avatar-container"> 
      <img *ngIf="candidatoInfo.genero === 'Masculino'" src="https://github.com/SicerBrito/DiaEspecial/raw/main/avatarMasculino.png" class="avatar-img" alt="Imagen Masculino"> 
      <img *ngIf="candidatoInfo.genero === 'Femenino'" src="https://github.com/SicerBrito/DiaEspecial/raw/main/avatarFemenino.png" class="avatar-img" alt="Imagen Femenino"> 
      <img *ngIf="candidatoInfo.genero === 'Otro'" src="https://github.com/SicerBrito/DiaEspecial/raw/main/avatarOtro.jpg" class="avatar-img" alt="Imagen Otro"> 
    </div> 
    <div class="card-body"> 
      <h3 class="card-title">{{ candidatoInfo.nombreCompleto }}</h3> 
      <p class="card-text">Candidato</p> 
    </div> 
    <ul class="list-group list-group-flush"> 
      <li class="list-group-item">Telefono: {{ candidatoInfo.telefono }}</li> 
      <li class="list-group-item">Ciudad: {{ candidatoInfo.ciudadRecidencia }}</li> 
      <li class="list-group-item">Correo: <a href="mailto:{{ candidatoInfo.email }}?subject=Conctactarnos&body=CuerpoDelMensaje">{{ candidatoInfo.email }}</a></li> 
    </ul> 
    <div class="card-body"> 
      <p class="card-link">{{ candidatoInfo.descripcionHabilidades }}</p> 
      <p class="card-link">{{ candidatoInfo.experiencia }}</p> 
      <a href="{{ candidatoInfo.urlLinkedIn }}" target="_blank" class="card-link">{{ candidatoInfo.urlLinkedIn }}</a>
      <div>
        <button mat-icon-button color="primary" (click)="editar(candidatoInfo)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="eliminar(candidatoInfo)">
            <mat-icon>delete</mat-icon>
        </button>

      </div>
    </div>
  
</div> 


